<!-- Page content -->
<div class="container pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <fieldset *ngIf="screen == 1">
          <div class="card-body p-4">
              <div class="">
                  <div class="text-center">
                    <a href="/home" class="">
                      <!-- <img src="../../../assets/img/brand/blue.png" alt="" height="24" class="auth-logo logo-dark mx-auto"> -->
                      <img src="../../../assets/img/brand/blue.png" alt="" height="28" class="auth-logo logo-light mx-auto">
                  </a>
                  </div>
                  <!-- end row -->
                  <h4 class="font-size-18 text-muted mt-2 text-center">Reset Password</h4>
                  <p class="mb-5 text-center">Reset your Password with Lieferung.</p>
                  <form class="form-horizontal" action="/login">
                      <div class="row">
                          <div class="col-md-12">
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                              <span class="alert-inner--icon"><i class="ni ni-bell-55"></i></span>
                              <span class="alert-inner--text">Enter your <b>Email</b> and instructions will be sent to you!</span>
                            </div>
                            <div class="mt-4">
                                <label class="form-label" for="useremail">Email</label>
                                <input type="email" class="form-control" id="useremail" placeholder="Enter email">
                            </div>
                            <div class="text-center d-grid mt-4">
                              <button type="button" class="btn btn-primary my-4 waves-effect waves-light" (click)="gotoView('next')">Send Email</button>
                            </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </fieldset>
        <fieldset *ngIf="screen == 2">
          <div class="card-body p-4">
            <div class="text-center">
              <a href="/home" class="">
                  <!-- <img src="../../../assets/img/brand/blue.png" alt="" height="24" class="auth-logo logo-dark mx-auto"> -->
                  <img src="../../../assets/img/brand/blue.png" alt="" height="28" class="auth-logo logo-light mx-auto">
              </a>
          </div>
          <!-- end row -->
          <h4 class="font-size-18 text-muted mt-2 text-center">Reset Password</h4>
          <p class="mb-5 text-center">Reset Link sent</p>
            <div class="d-block">
              <p class="mb-5 text-center">We have sent a password reset link to your email paogun******@gmail.com. Access your mail to reset your
                password</p>
            </div>
            <div class="text-center d-grid mt-4">
              <button type="button" class="btn btn-primary my-4 waves-effect waves-light" (click)="gotoView('login')">Redirect to Login</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

